:root {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New",
    Courier, monospace;

  /* Light theme */
  --tx-1: #1a1a1a;
  --bg-1: #ffffff;
  --bg-2: #f6f8fa;
  --bg-3: #e5e7eb;
  --lk-1: #0070f3;

  /* Dark theme */
  --d-tx-1: #eeeeee;
  --d-bg-1: #111111;
  --d-bg-2: #222222;
  --d-bg-3: #333333;
  --d-lk-1: #3291ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tx-1: var(--d-tx-1);
    --bg-1: var(--d-bg-1);
    --bg-2: var(--d-bg-2);
    --bg-3: var(--d-bg-3);
    --lk-1: var(--d-lk-1);
  }
}
html {
  font-family: var(--font-sans);
}

body {
  background: var(--bg-1);
  color: var(--tx-1);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 750px;
  padding: 2rem;
}

h1,
h2 {
  line-height: 1;
}

h2 {
  padding-top: 0.875rem;
}

a {
  color: var(--lk-1);
}

dt {
  font-weight: bold;
  padding-top: 0.4375rem;
}

dd {
  margin: 0;
}

code {
  font-family: var(--font-mono);
}

code,
pre {
  background: var(--bg-2);
  border: 1px solid var(--bg-3);
  border-radius: 4px;
  font-size: 0.9em;
}

pre {
  padding: 1rem 1.4rem;
}

pre code {
  background: inherit;
  border: 0;
  color: inherit;
  font-size: inherit;
}
