<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.description }}" />
    <title>{{ page.title }}</title>
    <script
      defer
      src="https://kit.fontawesome.com/d12ab438e8.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="javascripts/application.js"></script>
    <link rel="stylesheet" href="styles/application.css" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
