---
---

body {
  background-color: #303030;
  color: #ffffff;
  font-family: sans-serif;
  padding: 1em;
}

a {
  color: #2296f3;
}

.header {
  .fa-globe-europe {
    color: #dddddd;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    display: inline-block;
  }

  li:not(:last-child) {
    margin-right: 8px;
  }
}

.window {
  background-color: #3f3d56;
  border-radius: 8px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  font-size: 12px;

  .button {
    position: absolute;
    top: 8px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    display: inline-block;
  }

  .close {
    left: 8px;
    background-color: #d55359;
  }

  .min {
    left: 20px;
    background-color: #d8b454;
  }

  .zoom {
    left: 32px;
    background-color: #7db24f;
  }

  .title {
    position: absolute;
    top: 4px;
    left: 55px;
    color: #fff;
  }

  .fa-lock-alt {
    vertical-align: -1px;
  }

  .content {
    margin-top: 26px;
    padding: 0 4px 12px;
    color: #cf81c4;
  }
}
