body {
  background-color: #303030;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  padding: 1em;
}

a {
  color: #2296f3;
}

strong {
  color: #abb2bf;
  font-weight: normal;
}

.header {
  margin-bottom: 30px;
}
.header .fa-globe-europe {
  color: #dddddd;
}

.header h1 {
  margin-bottom: 0;
}

.header ul {
  list-style-type: none;
  padding-left: 0;
}

.header li {
  display: inline-block;
}

.header li:not(:last-child) {
  margin-right: 8px;
}

pre {
  white-space: normal;
}

.hljs {
  border-radius: 5px;
  padding: 10px;
  white-space: pre;
}

.http {
  color: #2D4A53;
}

.http:hover {
  cursor: pointer;
}
